.account {
    background-color: yellow;
    grid-area: account;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.btn-cart, .btn-not, .btn-log {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: none;
    padding: 7px;
}

.btn-cart:hover, .btn-not:hover, .btn-log:hover {
    background-color: #ccc;
    cursor: pointer;
}