.search {
    background-color: red;
    grid-area: search;
    display: flex;
    justify-content: center;
}

.search-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-input {
    width: 85%;
    height: 3.3em;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search-btn {
    width: 5.9em;
    height: 3.3em;
    border: none;
}

.search-btn:hover {
    background: #ccc;
    cursor: pointer;
}